.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  border: 5px solid #00f;
}

.child{
  width: 150px;
  border: 2px solid #f00;
  box-sizing: border-box;
}

.child1{
  height: 120px;
}

.child2{
  height: 100px;
}

.child3{
  height: 40px;
}

.child4{
  height: 200px;
  border: 2px solid #0f0;
}
